body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to left, #ffffff, #ffffff, #ffffff, #484444);
    overflow: hidden;
}

.caixa-pesquisa {
    position: absolute;
    top: 50%;
    left: 30%; /* Mover mais para a esquerda */
    transform: translate(-50%, -50%);
    background: #1e1c1c;
    height: 60px; 
    width: 40%;
    padding: 0 2vw;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.caixa-pesquisa form {
    display: flex;
    align-items: center;
    width: 100%; 
}

.texto-pesquisa {
    background: none;
    width: 100%; 
    padding-right: 50px;
    border: 0;
    outline: 0;
    font-size: 16px;
    color: #ffffff;
    z-index: 1;
}

.botao-pesquisa {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.lupa-pesquisa {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.bloco-opcoes {
    position: absolute;
    top: 80%;
    left: 30%; /* Mover mais para a esquerda */
    transform: translate(-50%, -50%);
    width: 40%;
    background: #1e1c1c;
    height: 30%;
    padding: 0 2vw;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 1; 
}

h3 {
    color: #ffffff;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

.acoes {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    color: #ffffff;
    padding: 0; 
}

.acoes form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%; 
}

.acoes button {
    background: none;
    border: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0; 
    width: 100%;
}

.acoes button img {
    transition: transform 0.3s ease;
}

.acoes:hover button img {
    transform: scale(1.1); 
}

.acoes h3, .acoes p {
    margin: 0; 
    text-align: center;
}

.acoes:not(:last-child) {
    border-right: 2px solid #ffffff; 
    padding-right: 2vw;
}

.logo-list, .logo-user {
    cursor: pointer;
}

.cor, .mulher {
    position: absolute;
    top: 27%;
    left: 61%;
}

h1 {
    position: absolute;
    left: 50%; /* Centraliza o título */
    transform: translateX(-50%);
    text-align: center;
    top: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-family: cursive;
    position: relative; /* Alterado para não cobrir outros elementos */
    text-align: center; /* Centraliza o texto */
    margin-top: 10%; /* Espaçamento em relação ao topo */
    max-width: 80%; /* Para evitar que o texto fique muito largo */
    left: 30%;
    transform: translateX(-50%); /* Centraliza horizontalmente */
}

.bolinhas {
    position: absolute;
    top: 55%;
    left: 14%;
    overflow: hidden; 
    z-index: 0; 
    max-width: 100%; /* Para que a imagem se ajuste ao contêiner */
}

.texto-pesquisa:focus {
    background: none; /* Mantém o fundo transparente ao focar */
    outline: none; /* Remove o contorno padrão ao focar */
    box-shadow: none; /* Remove qualquer sombra que possa ser aplicada ao focar */
    color: #ffffff !important; /* Cor do texto branca */
}

/* Para navegadores baseados em WebKit (Chrome, Safari, Opera) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: #1e1c1c !important; /* Cor de fundo desejada */
    color: #ffffff !important; /* Cor do texto branco */
    -webkit-text-fill-color: #ffffff !important; /* Força o preenchimento do texto para ser branco */
    -webkit-box-shadow: 0 0 0px 1000px #1e1c1c inset !important; /* Corrige o fundo branco */
    transition: background-color 5000s ease-in-out 0s; /* Mantém o fundo por tempo indefinido */
}

/* Para Firefox (pseudo-classe equivalente ao :autofill no Firefox) */
input:-moz-autofill {
    background-color: #1e1c1c !important; /* Cor de fundo desejada */
    color: #ffffff !important; /* Cor do texto branco */
    -moz-text-fill-color: #ffffff !important; /* Força o preenchimento do texto para ser branco */
}

/* Força o estilo nos outros navegadores */
input:-ms-autofill {
    background-color: #1e1c1c !important;
    color: #ffffff !important;
}

dialog {
    position: relative; /* Certifique-se de que o dialog tem posição relativa */
    overflow: hidden;
    max-width: none;
    width: 35%;
    height: 50%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
    transition: opacity 0.3s ease, transform 0.3s ease; 
    opacity: 0; 
    transform: translateY(-20px); 
}

/* Ao abrir o modal, ajuste a opacidade e a transformação */
dialog[open] {
    opacity: 1; /* Torna visível */
    transform: translateY(0); /* Restaura a posição */
}

/* Estilo do backdrop do modal */
dialog::backdrop {
    background-color: rgba(112, 110, 110, 0.5); /* Torna o fundo mais escuro */
}

dialog h3, dialog p {
    color: #000000; 
}

dialog h3 {
    margin-bottom: 9%; /* Espaçamento abaixo do título */
}

dialog p {
    text-align: left; /* Alinha o texto dos parágrafos à esquerda */
    margin-left: 10%;
    margin: 0; /* Remove margens padrão */
    font-size: 18px; /* Aumenta o tamanho da fonte */
    line-height: 2.5; /* Aumenta o espaçamento entre as linhas */
    font-family: Arial, sans-serif; /* Define a fonte do parágrafo */
}

.user-info {
    display: flex;
    flex-direction: column; /* Permite que os elementos sejam empilhados verticalmente */
    justify-content: flex-end; /* Mantém o alinhamento ao topo */
    margin: 10%; /* Espaçamento vertical entre os parágrafos */
    padding: 0; /* Adiciona padding ao redor */
    position: relative;
}


/* Estilo do botão de fechar */
#button-close {
    position: absolute; /* Posiciona o botão em relação ao modal */
    top: 10px; /* Distância do topo */
    right: 10px; /* Distância da direita */
    background: none; /* Remove fundo */
    border: none; /* Remove borda */
    color: #000; /* Cor do texto */
    font-size: 20px; /* Tamanho do texto */
    cursor: pointer; /* Muda o cursor para ponteiro ao passar o mouse */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    width: auto; /* Largura automática para se ajustar ao conteúdo */
    height: auto; /* Altura automática para se ajustar ao conteúdo */
    line-height: 1; /* Altura da linha para centralizar o "X" verticalmente */
    z-index: 20; /* Garante que o botão fique acima de outros elementos */
}


#userModal {
    position: relative; /* Para permitir o posicionamento absoluto do botão de fechar */
    width: 80%; /* Ajuste o tamanho do modal conforme necessário */
    max-width: 400px; /* Limite a largura máxima */
    padding: 2px; /* Espaçamento interno */
    box-sizing: border-box; /* Garante que o padding não afete a largura total */

}

.linha-vermelha {
    position: absolute;
    top: 0;
    left: 3%;
    width: 3px; /* Largura da linha */
    height: 200%; /* Altura total do modal */
    background-color: red; /* Cor da linha */
    border-top-left-radius: 10px; /* Arredondamento no canto superior esquerdo */
    border-bottom-left-radius: 10px; /* Arredondamento no canto inferior esquerdo */
}

.linha-caderno {
    position: relative;
    margin-left: -50%;
    margin-right: 0;
    width: 200%; /* Largura da linha */
    height: 2px; /* Altura da linha */
    background-color: rgb(0, 0, 0); /* Cor da linha */
    margin-bottom: 1%; /* Espaço entre as linhas */
    z-index: 100;
    box-sizing: border-box; /* Inclui padding e margens no cálculo da largura */
}

.linha-caderno:last-of-type {
    margin-bottom: 0; /* Remova a margem inferior da última linha */
}


.botao-salvar {
    padding: 1% 6%; /* Diminuindo o padding */
    font-size: 16px; /* Diminuindo o tamanho da fonte */
    min-height: 24px; /* Definindo uma altura mínima menor */
    max-height: 30px; /* Limitando a altura máxima */
    line-height: 1; /* Ajustando a altura da linha */
    max-width: 40%;
    background: #dc886c !important; 
    color: rgb(255, 255, 255); 
    border-radius: 12px; /* Arredonda as bordas */
    cursor: pointer;
    transition: background-color 0.3s; /* Adiciona uma transição suave para a cor de fundo */
    align-items: center;
    
}

button.botao-salvar {
    /* outras propriedades */
    display: block; /* Faz o botão ser tratado como um bloco */
    margin: 0 auto; /* Aplica margem automática nas laterais para centralizar */
    margin-top: -15px;
}


/* Estilo do botão ao passar o mouse */
.botao-salvar:hover {
    background-color: #744b3d  !important; /* Cor do botão ao passar o mouse */
}


/* Media Queries para telas menores */
@media (max-width: 768px) {
    .caixa-pesquisa {
        width: 80%; /* Aumentar a largura da caixa de pesquisa em telas menores */
        left: 50%; /* Centraliza horizontalmente */
        transform: translate(-50%, -50%);
    }

    .bloco-opcoes {
        width: 80%; /* Aumentar a largura do bloco de opções em telas menores */
        left: 50%; /* Centraliza horizontalmente */
        transform: translate(-50%, -50%);
    }

    h1 {
        font-size: 24px; /* Reduzir o tamanho da fonte do título */
    }

    h2 {
        display: none; /* Esconder o h2 na versão mobile */
    }

    .cor, .mulher {
        display: none; /* Esconder as imagens na versão mobile */
    }

    h2 {
        font-size: 18px; /* Reduzir o tamanho da fonte do subtítulo */
        margin-top: 5%; /* Ajustar a margem */
    }

    .acoes {
        flex-direction: column; /* Alinhar as ações em coluna */
        width: 100%; /* Garantir que ocupem a largura total */
    }

    .acoes:not(:last-child) {
        border-right: none; /* Remover a borda à direita */
    }

    .caixa-pesquisa,
    .bloco-opcoes {
        margin-bottom: 20px; /* Adicionar margem entre os elementos */
    }

    .acoes:not(:last-child) {
        border-right: 2px solid #ffffff; /* Garantir que a borda apareça na versão mobile */
        padding-right: 0; /* Remover o padding à direita, se necessário */
        border-bottom: none; /* Remover qualquer borda inferior, se aplicável */
    }

    .botao-salvar {
        padding: 6px 10px; /* Diminuir o espaçamento em telas menores */
        font-size: 12px; /* Diminuir o tamanho da fonte */
    }

    dialog {
        max-width: 90%; /* Permitir que o modal use mais largura em telas pequenas */
    }

}


