html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    max-width: 66vw;
    margin: 0 auto;
    background-color: white;
    margin-top: 4rem;
    padding-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px 10px 0px 0px;
}

/*
.notebook-holes {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    padding: 10px 0;
}
*/
.notebook-holes {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding: 10px 10px;
}


.circle {

    width: 20px;
    height: 16.5px;
    background-color: #4B4B4B;
    border-radius: 50%;
}

a.btn-link i {
    transition: transform 0.3s ease, color 0.3s ease; 
}

a.btn-link:hover i {
    transform: scale(1.2); 
    color: #4B4B4B; 
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.list-id {
    font-size: 24px;
    font-weight: bold;
    color: #616161;
    font-family: monospace;
}

.list-title h2 {
    margin-top: 9px;
    font-size: 24px;
    font-weight: bold;
    color: #616161;
    font-family: monospace;
    max-width: 35vw;; /* Define a largura máxima do título */
    overflow: hidden;  /* Esconde o texto que ultrapassa a largura */
    white-space: nowrap; /* Impede a quebra de linha */
    text-overflow: ellipsis; /* Adiciona reticências (...) ao final do texto */
}


.download-icon img {
    width: auto;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease; 
}

.download-icon img:hover {
    transform: scale(1.1); 
    opacity: 0.8; 
}

.shopping-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-row {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.item-row input[type="checkbox"] {
    margin-right: 10px;
}

.quantity {
    flex-grow: 1;
    font-size: 18px;
    border: none;
}

.price {
    font-size: 18px;
    border: none;
    margin-left: 10px;
}

/* Adiciona estilo ao ícone de exclusão */
.delete-icon {
    color: #9b0808;
    cursor: pointer;
    margin-right: 10px;
    font-size: 18px;
    transition: color 0.3s, transform 0.3s;
}

/* Aplica o estilo ao ícone de exclusão quando hover */
.delete-icon:hover {
    color: #d32f2f; /* Cor mais escura para o ícone quando hover */ 
}

div#nome_lista_error {
    font-weight: bold;
}

/* Aplica o efeito de linha atravessada ao texto quando o ícone de exclusão está hover */
.delete-icon:hover ~ .quantity {
    text-decoration: line-through;
/* Opção para mudar a cor do texto quando riscado */
}

.delete-icon:hover ~ .price {
    text-decoration: line-through;
/* Opção para mudar a cor do texto quando riscado */
}


/* Adiciona estilo ao campo de texto para novos itens */
.add-item {
    margin-top: 20px;
    padding-top: 10px;
}

#newItemInput {
    width: calc(100% - 22px); /* Ajusta a largura para caber no container */
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#newItemInput:focus {
    border-color: #4B4B4B;
    text-decoration: underline;
}

#newItemInput::placeholder {
    color: #aaa;
    font-style: italic;
}

input#newItemInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    padding: 19px 0px 0px 0px;
    width: -webkit-fill-available;
    justify-content: center;
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        margin-top: 0rem;
        padding-top: 0rem;
        border-radius: 0;
        margin: auto;
    }

    .download-icon img {
        width: auto;
        height: 40px;
        cursor: pointer;
        transition: transform 0.3s ease, opacity 0.3s ease; 
    }

    .download-icon img:hover {
        transform: scale(1.1);
        opacity: 0.8;
    }

    .header {
        flex-wrap: wrap; /* Permite que os itens quebrem para uma nova linha */
        justify-content: center; /* Centraliza os ícones */
    }

    .header, .download-icon, .list-id, .delete-list, .list-title{
        flex: 0 1 45%; /* Cada ícone ocupa cerca de 45% da linha, fazendo com que dois fiquem na mesma linha */
        margin-bottom: 10px; /* Adiciona um espaço entre os ícones na linha de baixo */
        text-align: center; /* Opcional: centraliza os ícones */
    }

    .header .list-title:nth-child(2) {
        order: 1; /* Primeiro ícone vai para a 3ª posição */
    }
    
    .header .list-id:nth-child(1) {
        order: 2; /* Segundo ícone vai para a 1ª posição */
    }

    .header .download-icon:nth-child(3) {
        order: 3; /* Terceiro ícone vai para a 2ª posição */
    }

    .header .delete-list:nth-child(4) {
        order: 4; /* Quarto ícone vai para a 4ª posição */
    }

    .circle {
        height: 20px;
    }
}