<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>

    <div class="caixa-pesquisa">
        <!-- Formulário para enviar a pesquisa -->
        <form action="/" method="POST">
            <!-- Campo de entrada de texto -->
            <input type="text" name="search_text" class="search-text" placeholder="Pesquisar lista por ID">
            <!-- Botão de envio com a lupa -->
            <button type="submit" class="botao-pesquisa">
                <img class="lupa-pesquisa" src="Search.png" alt="lupa-pesquisa">
            </button>
        </form>
    </div>

</body>
</html>
