<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/landing_page.css" rel="stylesheet">
    <title>Landing Page</title>
</head>
<body>
   
    <img src="/static/image/landing_page/backgorund.png" alt="Background" class="background-image">

    <div class="container d-flex flex-column justify-content-center align-items-center vh-80">
        <div class="form-header">
            <div class="form-text">
                <p>✦Listfy</p>
                <h1>Para facilitar suas compras</h1>
                <h4>Sua ferramenta inteligente para organizar e gerenciar suas compras. Com nosso sistema, você pode criar, categorizar e compartilhar listas de compras de maneira fácil e rápida. Economize tempo, evite esquecimentos e torne suas compras mais eficientes.</h4>
            </div>
            <div class="input-group flex-column">
                <div>
                    <button onclick="window.location.href='/login';" id="myButton" class="btn btn-primary position-relative ms-0 mb-3">Acessar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
