<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Editável</title>
    
    <!-- Adicionar CSS do Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Adicionar Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Biblioteca html2canvas -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

    <!-- Biblioteca html2pdf -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">


    <link rel="stylesheet" href="/static/css/list.css">
</head>
<body>
    <div class="position-relative">
        <a href="/home" class="btn btn-link position-absolute" style="left: 0; top: 10px; color: #000; position: absolute;
        left: 2vw;
        top: 0vh;">
            <i class="bi bi-arrow-left-circle" style="font-size: 2rem;"></i>
        </a>
    </div>

    <div class="container">

        <div class="notebook-holes">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>

        <div class="header d-flex justify-content-between align-items-center">
            <div class="list-id">
                <!-- Exibe o ID da lista dinamicamente -->
                <span>ID: {{ lista.idlista }}</span>
            </div>
            <div class="list-title">
                <!-- Nome da lista é editável -->
                <h2 id="nome_lista" contenteditable="true" onblur="atualizarNomeLista()">{{ lista.nome_lista }}</h2>
                <div id="nome_lista_error" style="color: red; display: none;"></div>
            </div>
            <div class="download-icon">
                <img src="/static/image/list/Download.png" onclick="downloadPDF()" alt="Download">
            </div>
            <div class="delete-list" id="deleteListContainer" style="display: none;">
                <!-- Ícone Bootstrap para deletar -->
                <i class="bi bi-clipboard2-x-fill" style="font-size: 2rem; color: #da9551; cursor: pointer;" onclick="deleteList()"></i>
            </div>
        </div>

        <div class="shopping-list" id="shoppingList">
            <!-- Lista de itens será adicionada aqui dinamicamente -->
        </div>

        <div class="add-item">
            <input type="text" id="newItemInput" placeholder="Digite o item e pressione Enter" onkeypress="handleKeyPress(event)">
        </div>

        <!-- Modal para editar o preço -->
        <div class="modal fade" id="priceModal" tabindex="-1" aria-labelledby="priceModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="priceModalLabel">Adicionar nota</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label for="itemPrice">Anotação:</label>
                        <input type="text" id="itemPrice" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" onclick="salvarNota()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Botão de excluir lista no footer -->
        <footer class="footer mt-auto py-3">
            <div class="container text-center" style="border: none;">
                <button class="btn btn-danger" onclick="deleteListFromDatabase()">Excluir Lista</button>
            </div>
        </footer>
    </div>

    <script>
        function handleKeyPress(event) {
            if (event.key === 'Enter') {
                const itemText = event.target.value.trim();
                if (itemText !== '') {
                    const listId = "{{ lista.idlista }}";
    
                    fetch(`/lista/${listId}/item`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: `nome_item=${encodeURIComponent(itemText)}`
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            addItem(itemText, data.item_id);
                            event.target.value = '';
                        } else {
                            console.error('Falha ao adicionar item:', data);
                        }
                    })
                    .catch(error => {
                        console.error('Erro ao adicionar item:', error);
                    });
                }
            }
        }
    
        function addItem(itemText, itemId) {
            const shoppingList = document.getElementById('shoppingList');
    
            const newItem = document.createElement('div');
            newItem.className = 'item-row';
            newItem.setAttribute('data-item-id', itemId); // Adiciona um atributo para o ID do item
    
            newItem.innerHTML = `
                <span class="delete-icon" onclick="removeItem(this)">✖</span>
                <input type="checkbox" />
                <span class="quantity">${itemText}</span>
                <span class="price">
                    <i class="bi bi-pencil-square" style="cursor: pointer;" data-toggle="modal" data-target="#priceModal"></i>
                </span>
            `;
    
            shoppingList.appendChild(newItem);
        }
    
        function removeItem(element) {
            const itemRow = element.parentElement;
            const itemId = itemRow.getAttribute('data-item-id');
            const listId = "{{ lista.idlista }}"; // Obtém o ID da lista
    
            fetch(`/lista/${listId}/item/${itemId}`, {
                method: 'DELETE'
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    itemRow.remove();
                } else {
                    console.error('Erro ao remover item:', data);
                }
            })
            .catch(error => {
                console.error('Erro ao remover item:', error);
            });
        }
    
        // Função para obter os itens da lista ao carregar a página
        document.addEventListener('DOMContentLoaded', function() {
            const listId = "{{ lista.idlista }}";
            fetch(`/lista/${listId}/item`)
                .then(response => response.json())
                .then(data => {
                    data.forEach(item => addItem(item.Nome_Item, item.idItens));
                });
        });

        let originalListName = "{{ lista.nome_lista }}"; // Armazena o nome original da lista

document.addEventListener('DOMContentLoaded', function() {
    // Define o nome da lista inicialmente
    document.getElementById("nome_lista").innerText = originalListName;
});

function atualizarNomeLista() {
    const newName = document.getElementById("nome_lista").innerText.trim(); // Remove espaços em branco

    // Verifica se o nome está vazio
    if (newName === '') {
        document.getElementById("nome_lista_error").innerText = "O nome da lista não pode estar vazio ❌";
        document.getElementById("nome_lista_error").style.display = "block";
        document.getElementById("nome_lista").innerText = originalListName; // Restaura o nome original
        return; // Não atualiza se o nome está vazio
    }

    const listId = "{{ lista.idlista }}"; // Obtém o ID da lista

    // Limitar a 45 caracteres
    if (newName.length > 45) {
        document.getElementById("nome_lista_error").innerText = "O nome da lista não pode ter mais de 45 caracteres ❌";
        document.getElementById("nome_lista_error").style.display = "block";
        document.getElementById("nome_lista").innerText = originalListName; // Restaura o nome original
        return; // Não atualiza se o nome é muito longo
    } else {
        document.getElementById("nome_lista_error").style.display = "none"; // Limpa a mensagem de erro
    }

    fetch(`/atualizar_nome_lista/${listId}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
        },
        body: `novo_nome_lista=${encodeURIComponent(newName)}`
    })
    .then(response => {
        if (response.ok) {
            originalListName = newName; // Atualiza o nome original com o novo nome
            console.log('Nome atualizado com sucesso');
        } else {
            console.error('Falha ao atualizar o nome');
        }
    })
    .catch(error => {
        console.error('Erro ao atualizar o nome:', error);
    });
}


        function deleteListFromDatabase() {
            const listId = "{{ lista.idlista }}"; // Obtém o ID da lista

            fetch(`/lista/${listId}`, {
                method: 'DELETE'
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert(data.message); // Exibe o alerta de sucesso
                    window.location.href = '/'; // Redireciona para a página inicial
                } else {
                    console.error('Erro ao excluir lista:', data);
                }
            })
            .catch(error => {
                console.error('Erro ao excluir lista:', error);
            });
        }

        let itemIdAtual = null;

        // Função para editar as anotações dos itens
        function handleKeyPress(event) {
            if (event.key === 'Enter') {
                const itemText = event.target.value.trim();
                if (itemText !== '') {
                    const listId = "{{ lista.idlista }}";
    
                    fetch(`/lista/${listId}/item`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: `nome_item=${encodeURIComponent(itemText)}`
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            addItem(itemText, data.item_id);
                            event.target.value = '';
                        } else {
                            console.error('Falha ao adicionar item:', data);
                        }
                    })
                    .catch(error => {
                        console.error('Erro ao adicionar item:', error);
                    });
                }
            }
        }
    
        function addItem(itemText, itemId) {
            const shoppingList = document.getElementById('shoppingList');
    
            const newItem = document.createElement('div');
            newItem.className = 'item-row';
            newItem.setAttribute('data-item-id', itemId); // Adiciona um atributo para o ID do item
    
            newItem.innerHTML = `
                <span class="delete-icon" onclick="removeItem(this)">✖</span>
                <input type="checkbox" />
                <span class="quantity">${itemText}</span>
                <span class="price">
                    <i class="bi bi-pencil-square" style="cursor: pointer;" data-toggle="modal" data-target="#priceModal" onclick="editarNota(${itemId})"></i>
                </span>
                <span class="nota" id="nota-${itemId}"></span> <!-- Exibir a nota aqui -->
            `;
    
            shoppingList.appendChild(newItem);
        }
    
        function removeItem(element) {
            const itemRow = element.parentElement;
            const itemId = itemRow.getAttribute('data-item-id');
            const listId = "{{ lista.idlista }}"; // Obtém o ID da lista
    
            fetch(`/lista/${listId}/item/${itemId}`, {
                method: 'DELETE'
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    itemRow.remove();
                } else {
                    console.error('Erro ao remover item:', data);
                }
            })
            .catch(error => {
                console.error('Erro ao remover item:', error);
            });
        }
    
        // Função para obter os itens da lista ao carregar a página
        document.addEventListener('DOMContentLoaded', function() {
            const listId = "{{ lista.idlista }}";
            fetch(`/lista/${listId}/item`)
                .then(response => response.json())
                .then(data => {
                    data.forEach(item => {
                        addItem(item.Nome_Item, item.idItens);
                        document.getElementById(`nota-${item.idItens}`).innerText = item.Anotacoes_item || "Sem nota"; // Exibe a anotação
                    });
                });
        });

        // Função para editar a nota de um item
        function editarNota(itemId) {
            itemIdAtual = itemId;
            const notaElemento = document.getElementById(`nota-${itemId}`);
            const notaTexto = notaElemento.innerText === "Sem nota" ? "" : notaElemento.innerText;
            document.getElementById("itemPrice").value = notaTexto;
        }

        // Função para salvar a nota editada
        function salvarNota() {
            const notaTexto = document.getElementById("itemPrice").value.trim();
            const listId = "{{ lista.idlista }}";

            if (itemIdAtual) {
                fetch(`/lista/${listId}/item/${itemIdAtual}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: `anotacoes_item=${encodeURIComponent(notaTexto)}`
                })
                .then(response => {
                    if (response.ok) {
                        document.getElementById(`nota-${itemIdAtual}`).innerText = notaTexto;
                    } else {
                        console.error('Falha ao salvar nota.');
                    }
                })
                .catch(error => console.error('Erro ao salvar nota:', error));
            }
        }




        function downloadPDF() {
    // Criar o cabeçalho do PDF
    const headerElement = document.createElement('div');
    headerElement.innerHTML = `
        <div class="header" style="text-align: center; margin-bottom: 20px;">
            <!-- Ícone -->
            <div class="list-icon" style="margin-bottom: 10px;">
                <img src="{{ url_for('static', filename='favicon.png') }}" alt="Logo" style="max-width: 100px;">
            </div>
            <!-- Nome da lista -->
            <div class="list-title" style="margin-bottom: 10px;">
                <h2 id="nome_lista" contenteditable="false" style="margin: 0;">{{ lista.nome_lista }}</h2>
            </div>
            <!-- Link para a lista -->
            <div class="list-link">
                <a href="http://127.0.0.1:5000/lista/{{ lista.idlista }}" style="text-decoration: none; color: blue;">
                    http://127.0.0.1:5000/lista/{{ lista.idlista }}
                </a>
            </div>
        </div>
    `;

    // Clonar a lista de itens para o PDF
    const listElement = document.getElementById('shoppingList').cloneNode(true);

    // Remover o ícone de "x" e o ícone de editar do modal nos itens clonados
    const items = listElement.querySelectorAll('.item-row');
    items.forEach(item => {
        const deleteIcon = item.querySelector('.delete-icon');
        const editIcon = item.querySelector('.bi-pencil-square');

        // Remove os ícones do item
        if (deleteIcon) deleteIcon.remove();
        if (editIcon) editIcon.remove();
    });

    // Criar o conteúdo para o PDF com o cabeçalho e a lista sem os ícones
    const pdfContent = document.createElement('div');
    pdfContent.appendChild(headerElement);
    pdfContent.appendChild(listElement);

    // Adicionar estilos ao conteúdo do PDF
    pdfContent.style.fontFamily = "Arial, sans-serif"; // Define a fonte
    pdfContent.style.fontSize = "12px"; // Tamanho da fonte

    // Configurações para o PDF
    const options = {
        margin: 0.5,
        filename: `${document.getElementById('nome_lista').innerText.trim()}.pdf`, // Nome do arquivo baseado no nome da lista
        image: { type: 'jpeg', quality: 0.98 },
        html2canvas: { scale: 2 },
        jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
    };

    // Gerar o PDF com o html2pdf
    html2pdf().set(options).from(pdfContent).save();
}




    </script>

    <!-- Adicionar JS do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
