<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Não encontrado</title>
    <link rel="stylesheet" href="css/not_found.css">
</head>
<body>

    <div>
        <img class="homem" src="./image/not_found/homem.png" alt="homem">
    </div>
    
    <div>
        <h1>
            Lista não encontrada
        </h1>
        <h2>
            ID Inexistente
        </h1>    
    </div>

    <div>
        <img class="lupa-x" src="./image/not_found/lupa_x.png" alt="lupa">
    </div>

</body>
</html>