<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Não encontrado</title>
    <link rel="stylesheet" href="/static/css/not_found.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
</head>
<body>
    <div>
        <button onclick="window.location.href='/home';" id="myButton" class="btn position-absolute top-2 start-2 m-3 p-0 border-0 bg-transparent">
            <img src="/static/image/not_found/voltar.png" alt="Voltar" class="img-fluid">
        </button>
    </div>

    <div>
        <img class="homem" src="/static/image/not_found/homem.png" alt="homem">
    </div>
    
    <div>
        <h1>
            Lista não encontrada
        </h1>
        <h2>
            ID Inexistente
        </h1>    
    </div>

    <div>
        <img class="lupa-x" src="/static/image/not_found/lupa_x.png" alt="lupa">
    </div>

</body>
</html>
