<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Não encontrado</title>
    <link rel="stylesheet" href="/static/css/not_found.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <div class="position-relative">
        <a href="/" class="btn btn-link position-absolute" style=" color: #000; position: absolute;
left: 7vw;
top: 10vh;">
            <i class="bi bi-arrow-left-circle" style="font-size: 2rem;"></i>
        </a>
    </div>

    <div>
        <img class="homem" src="/static/image/not_found/homem.png" alt="homem">
    </div>
    
    <div>
        <h1>
            Lista não encontrada
        </h1>
        <h2>
            ID Inexistente
        </h2>    
    </div>

    <div>
        <img class="lupa-x" src="/static/image/not_found/lupa_x.png" alt="lupa">
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
